.form {
    background: white;
}

.has-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.2);
}

input.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

/*input.input-material.is-invalid {*/
/*    border-color: #dc3545 !important;*/
/*}*/

/*input.input-material.invalid-feedback {*/
/*    color: #dc3545;*/
/*}*/
/*input.input-material.is-invalid ~ label {*/
/*    color: #dc3545;*/
/*}*/

input.input-material:focus {
    outline: none;
    border-color: rgb(46, 169, 223);
}

.form-validate {
    margin-bottom: 20px;
}

.login-page {
    position: relative;
}

.login-page::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: url(./imgs/parking_lot.jpg);
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
}

.login-page .container {
    min-height: 100vh;
    z-index: 999;
    padding: 20px;
    position: relative;
}

.login-page .form-holder {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 50px;
}

.login-page .form-holder .info, .login-page .form-holder .form {
    min-height: 70vh;
    padding: 40px;
    height: 100%;
}

.login-page .form-holder div[class*='col-'] {
    padding: 0;
}

.login-page .form-holder .info {
    background: rgba(30, 136, 168, 0.9);
    color: #fff;
}

.login-page .form-holder .info h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.login-page .form-holder .info p {
    font-weight: 300;
}

.login-page .form-holder .form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.login-page .form-holder .form .content {
    width: 100%;
}

.login-page .form-holder .form form {
    width: 100%;
    max-width: 400px;
}

.login-page .form-holder .form a.signup {
    font-size: 0.9em;
    color: #85b4f2;
}

.login-page .form-holder .form small {
    color: #aaa;
}

/* Make sure that the height of the form can change with the window size
 when the window width is less than 991px */
@media (max-width: 991px) {
    .login-page .info, .login-page .form {
        min-height: auto !important;
    }
    .login-page .info {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}

.btn {
    background: rgb(30, 136, 168);
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: white;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 96, 150, 0.25);
    color: white;
}

.btn:hover {
    background-color: rgb(0, 98, 132);
    border-color: rgb(0, 92, 175);
    color: white;
}